<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->
    <link rel="stylesheet" href="/css/ammap.css" type="text/css">        

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- partial('pivovaryjson/main')%>
    <%- body %>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Load jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- Load ammap javascript libraries -->
    <script type="text/javascript" src="/js/ammap.js"></script>
    <script type="text/javascript" src="/maps/js/czechRepublicHigh.js"></script>

    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->

<script type="text/javascript">
	    
		var map;
		
		AmCharts.ready(function() {
		    map = new AmCharts.AmMap();
		    map.pathToImages = "../ammap/images/";
		    //map.panEventsEnabled = true; // this line enables pinch-zooming and dragging on touch devices
		    
		    map.balloon.color = "#000000";
		
		    var dataProvider = {
			mapVar: AmCharts.maps.czechRepublicHigh,
			getAreasFromMap:true,
                        images:[{latitude:50.1359119, longitude:14.3707900, type:"circle", color:"#6c00ff", title: "Suchdol", url: "/pivovary_databaze.php?id=103&tab=pivovary_cr&pivovar=Školní pivovar ČZU Praha-Suchdol"}]
		    };
		
		    map.dataProvider = dataProvider;
		
		    map.areasSettings = {
			autoZoom: true,
			selectedColor: "#CC0000" // cervena
		    };
		
		    map.smallMap = new AmCharts.SmallMap();
		
		    map.write("mapdiv");
		
		});
    
</script>

    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
